NEXT_PUBLIC_ICP_CANISTER_ID=tymvd-6aaaa-aaaam-qjbza-cai
NEXT_PUBLIC_ICP_NETWORK=local
NEXT_PUBLIC_MARKET_API_BASE_URL=https://finance-hazel-theta-99.vercel.app
COINGECKO_API_KEY=
COINGECKO_API_PLAN=demo
